- @title="Hawaii"
- @meta="Hawaii"

%section.module.parallax.parallax-1
  .container
    %h1 Serene
%section.module.content
  .container
    .weather-data
      %h1#weather-header Weather for #{@weatherData[1][1]["display_location"]["full"]}
    .basic-info
      =image_tag @weatherData[1][1]["icon_url"]
      %p=@weatherData[1][1]["temperature_string"]
      %p Conditions: #{@weatherData[1][1]["weather"]}
      %p Wind: #{@weatherData[1][1]["wind_string"]}
      %p Local Time: #{@weatherData[1][1]["local_time_rfc822"]}
      %p Location: #{@weatherData[1][1]["local_tz_long"]}
      #outer-currency
        #currency-container
          %p 1 USD = #{@currencyData} #{@localCurrency}
%section.module.parallax.parallax-2
  .container
    %h1 Rise
%section.module.content
  .container
    %p#current-days Current Days: 1
    %input#days{"data-slider-id" => "daySlider", "data-slider-max" => "10", "data-slider-min" => "1", "data-slider-step" => "1", "data-slider-value" => "1", "data-slider-tooltip" => "hide", "data-slider-handle" => "round", type: "text"}/
    .itinerary
      .event{"data-min-value" => "5", "data-cost" => "1000"}
        %p.entry-header Oahu
        .entry-content
          %p Hotel: Hotel A
          %p Visit 1
          %p Visit 2
      .event{"data-min-value" => "3", "data-cost" => "1500"}
        %p.entry-header Maui
        .entry-content
          %p Hotel: Hotel B
          %p Visit 1
          %p Visit 2
      .event{"data-min-value" => "1", "data-cost" => "2000"}
        %p.entry-header Big Island
        .entry-content
          %p Hotel: Hotel C
          %p Visit 1
          %p Visit 2
      %span Total Price: $
      %span#total-price 0
%section.module.parallax.parallax-3
  .container
    %h1 Calm
%section.module.content
  .container
    %h2 Lorem Ipsum Dolor
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
