- @title="Hawaii"
- @meta="Hawaii, TopTierTraveling, Oahu, Maui, Big Island, Wailea Beach Marriott Resort"

%section.module.parallax.parallax-1.hawaii-2
  .container
    %h1 Welcome to Hawaii
    %p
      "The fresh, floral air energizes you. The warm, tranquil waters refresh you.
      The breathtaking, natural beauty renews you. Look around. There’s no place on earth like Hawaii.
      Whether you're a new visitor or returning, our six unique islands offer distinct experiences that
      will entice any traveler. We warmly invite you to explore our islands and discover your ideal
      travel experience."
    %p{style: "text-align: right;"} ~ From the State of Hawaii
%section.module.content
  .container
    %h1 Learn about our destinations!
    .map
      #hawaii-map.leaflet
    .map-images
      .image
        %span
          = image_tag "oahu1.jpg", data:{desc: "oahu-desc"}
        %h2 Oahu
      .image
        %span
          = image_tag "maui1.jpg", data:{desc: "maui-desc"}
        %h2 Maui
      .image
        %span
          = image_tag "big1.jpg", data:{desc: "big-desc"}
        %h2 Big Island
    .descriptions
      .oahu-desc
        %h1 Oahu Description
        %p On the island of Oahu, learn to ride the waves in Waikiki where surfing was born or catch a big-wave surf meet on Oahu’s famed North Shore. Between sunrise and sunset, you’ll have hours to explore the hottest farm to table restaurants, browse the latest designer and local fashions, check out the urban art scene in Chinatown or stroll into Hawaii’s history at Iolani Palace. When the sun goes down, the “Heartbeat of Hawaii” awakens to a new beat, and it’s time to put on your dancing shoes.
      .maui-desc
        %h1 Maui Description
        %p Known as the “Valley Isle,” Maui is dotted with quaint towns, artist communities and local favorites that have been around for generations. Head to Wailuku for pastries from a “mom and pop” bakery, or head to Lahaina for a taste of Maui’s famed farm to table cuisine. From shimmering beaches and sacred Iao Valley to migrating humpback whales and sunset on Haleakala, it’s not surprising Maui was voted the “Best Island” by the readers of Conde Nast Traveler for 19 years.
      .big-desc
        %h1 Big Island Description
        %p Hawaii Island is the youngest and largest island in the Hawaiian chain, but it’s remarkable for more than just its size. Picture yourself visiting Kilauea, one of the most active volcanoes in the world, or talk story with a cultural demonstrator at Puuhonua o Honaunau, a historic park that was once a place of refuge. Whether you’re walking on a black sand beach, snorkeling with manta rays, horseback riding in Waimea or sailing along the Kona Coast, Hawaii, the Big Island is your island for adventure.
%section.module.parallax.parallax-2.hawaii-3
  .container
    .weather-data
      .weather-day.single-day
        %p.show-header{style: 'font-variant: small-caps; text-align: center;'} Today
        %p.show-header #{@weatherData[0]["date"]["tz_long"]} Weather
        %p.weather-time=@weatherData[@weatherData.length - 1]
        %div
          =image_tag(@weatherData[0]["icon_url"], size: "100", class: 'inline')
          %p.inline{style: 'font-size: 30px'} #{@weatherData[0]["high"]["fahrenheit"]}°F
        %p.bold #{@weatherData[0]["conditions"]}
      .multiple-days
        - @weatherData = @weatherData[1..4] #Grabs the first three days of weather
        - @weatherData.each do |element|
          .weather-day.inline
            %p.bold.day=element["date"]["weekday"]
            =image_tag(element["icon_url"], size: "75")
            %p{style: 'font-size: 40px'} #{element["high"]["fahrenheit"]}°F
            %p.bold=element["conditions"]
%section.module.content{style: "min-height: 1000px"}
  .container
    %h1 Select your packages
    .chk-selections.left
      .new-activities
        %h1 Oahu
        .dest-activities
          .squareChkBox
            %input{id: '2', name: "oahu", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "2"}
          .activity-title
            %p Diamond Head
        .dest-activities
          .squareChkBox
            %input{id: '3', name: "oahu", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "3"}
          .activity-title
            %p Polynesian Cultural Center
        .dest-activities
          .squareChkBox
            %input{id: '4', name: "oahu", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "4"}
          .activity-title
            %p USS Memorials
        .dest-activities
          .squareChkBox
            %input{id: '7', name: "oahu", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "7"}
          .activity-title
            %p 'Iolani Palace
        .dest-activities
          .squareChkBox
            %input{id: '9', name: "oahu", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "9"}
          .activity-title
            %p Manoa Falls
        .dest-activities
          .squareChkBox
            %input{id: '11', name: "oahu", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "11"}
          .activity-title
            %p Shangri La
      .new-activities
        %h1 Maui
        .dest-activities
          .squareChkBox
            %input{id: '12', name: "maui", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "12"}
          .activity-title
            %p Haleakalā National Park
        .dest-activities
          .squareChkBox
            %input{id: '13', name: "maui", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "13"}
          .activity-title
            %p Kula Botanical Garden
        .dest-activities
          .squareChkBox
            %input{id: '14', name: "maui", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "14"}
          .activity-title
            %p King Kamehameha Golf Course Clubhouse
        .dest-activities
          .squareChkBox
            %input{id: '15', name: "maui", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "15"}
          .activity-title
            %p Bailey House Museum
        .dest-activities
          .squareChkBox
            %input{id: '16', name: "maui", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "16"}
          .activity-title
            %p Holy Ghost Catholic Church
        .dest-activities
          .squareChkBox
            %input{id: '17', name: "maui", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "17"}
          .activity-title
            %p Kaahumanu Church
      .new-activities
        %h1 Big Island
        .dest-activities
          .squareChkBox
            %input{id: '18', name: "bigisland", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "18"}
          .activity-title
            %p Hawaiʻi Volcanoes National Park
        .dest-activities
          .squareChkBox
            %input{id: '19', name: "bigisland", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "19"}
          .activity-title
            %p Rainbow Falls
        .dest-activities
          .squareChkBox
            %input{id: '20', name: "bigisland", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "20"}
          .activity-title
            %p Coconut Island
        .dest-activities
          .squareChkBox
            %input{id: '21', name: "bigisland", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "21"}
          .activity-title
            %p Lava Tree State Monument
        .dest-activities
          .squareChkBox
            %input{id: '22', name: "bigisland", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "22"}
          .activity-title
            %p Liliuokalani Park and Gardens
        .dest-activities
          .squareChkBox
            %input{id: '23', name: "bigisland", type: "checkbox", value: "100", "data-days" => "1"}/
            %label{:for => "23"}
          .activity-title
            %p Kohala (Volcano)
      .calculations
        .price
          %span Total Price: $
          %span#total-price 0
        .nights
          %span Estimated Days:
          %span#estimated-days 0
    .pk-selections.right
      / #outer-currency
      /   %p.show-header Currency Converter for #{@weatherData[0]["date"]["tz_long"]}
      /   #currency-container
      /     %input{:max => "100000", :min => "1", :name => "quantity", :type => "number", :class => "currency_input", :placeholder => "Enter value in USD"}/
      /     %p.inline.currency_result #{@currencyData}
      /     %p.inline #{@localCurrency}
      %h2 Available Packages
      .all-packages
        .package{"data-include" => "bigisland"}
          .pk-image
            = image_tag "costcotravel.png", class: 'package-img'
          .pk-desc
            %h2
              = link_to "Hawaii Island: Hilton Waikoloa Village® Value Package", "http://www.costcotravel.com/Vacation-Packages/hawaii/Hawaii-Island/Offers/HAWBIGHILTONWVPKG2009052"
            %span 5 Nights from $719 per person
        .package{"data-include" => "oahu"}
          .pk-image
            = image_tag "costcotravel.png", class: 'package-img'
          .pk-desc
            %h2
              = link_to "Oahu: AULANI, A Disney Resort & Spa Spring Package", "http://www.costcotravel.com/Vacation-Packages/hawaii/Oahu/Offers/HAWHNLAULANI20141107"
            %span 5 Nights from $1,055 per person
        .package{"data-include" => "maui"}
          .pk-image
            = image_tag "costcotravel.png", class: 'package-img'
          .pk-desc
            %h2
              = link_to "Maui: The Ritz-Carlton, Kapalua Package", "http://www.costcotravel.com/Vacation-Packages/hawaii/Maui/Offers/HAWOGGRITZKAPALUA20131218"
            %span 5 Nights from $1,405 per person
        .package{"data-include" => "oahu,maui"}
          .pk-image
            = image_tag "costcotravel.png", class: 'package-img'
          .pk-desc
            %h2
              = link_to "Oahu and Maui 2-Island Package", "http://www.costcotravel.com/Vacation-Packages/hawaii/Offers/HAWHNLOGG20140307"
            %span >7 Nights from $
        .package{"data-include" => "oahu,bigisland"}
          .pk-image
            = image_tag "costcotravel.png", class: 'package-img'
          .pk-desc
            %h2
              = link_to "Oahu and Hawaii Island Package", "http://www.costcotravel.com/Vacation-Packages/hawaii/Offers/HAWHNLKOA20140313"
            %span >7 Nights from $
        .package{"data-include" => "oahu,maui"}
          .pk-image
            = image_tag "costcotravel.png", class: 'package-img'
          .pk-desc
            %h2
              = link_to "Maui and Oahu: 2-Island Package", "http://www.costcotravel.com/Vacation-Packages/hawaii/Oahu/Offers/HAWOAHTURTLEBAYBC20140121"
            %span >7 Nights from $
        .package{"data-include" => "oahu,maui"}
          .pk-image
            = image_tag "costcotravel.png", class: 'package-img'
          .pk-desc
            %h2
              = link_to "Maui and Oahu: 2-Island Package", "http://www.costcotravel.com/Vacation-Packages/hawaii/Offers/HAWKOAHNL20140313"
            %span >7 Nights from $
        .package{"data-include" => "maui,bigisland"}
          .pk-image
            = image_tag "costcotravel.png", class: 'package-img'
          .pk-desc
            %h2
              = link_to "Maui and Hawaii Island: 2-Island Package", "http://www.costcotravel.com/Vacation-Packages/hawaii/Offers/HAWOGGKOA20140313"
            %span >7 Nights from $
    .conditions
      = render "shared/social"
      %h2 Terms and Conditions
      %p.terms Prices are in U.S Dollars, are true and accurate at time of printing, are valid for travel as specified, are valid for new bookings only. All offersand inclusions are subject to availability and may change or be terminated without notice. Seasonal surcharge, availability, blackout dates and restrictions may apply. Any unused portion(s) of inclusions are nontransferable, nonrefundable, and not redeemable for cash. Cancellation and charge fees may apply. Rental car includes unlimited mileage, one additional driver, all taxes and service fees. It does not include gasoline, optional insurance charges, underage driver charges, upgrades, overtime, drop charges or infant-child seats.
%p#currencyRate{style: "display: none"}=@currencyData
