- @title="Italy"
- @meta="Italy"

%section.module.parallax.parallax-1.italy-1
  .container
    %h1 Serene
%section.module.content
  .container
    .weather-data
      .weather-day
        %p.show-header Weather for #{@weatherData[0]["date"]["tz_long"]}
        =image_tag(@weatherData[0]["icon_url"], size: "100", :class => "grayscale")
        =@weatherData[0]["date"]["pretty"].split(/\s+/, 3+1)[0...3].join(' ')
        %p.bold #{@weatherData[0]["date"]["weekday"]}
        %p.inline #{@weatherData[0]["high"]["fahrenheit"]}°F ~
        %p.inline.gray.bold #{@weatherData[0]["conditions"].downcase}
      - @weatherData = @weatherData[1..3] #Grabs the first three days of weather
      - @weatherData.each do |element|
        .weather-day.inline
          =image_tag(element["icon_url"], size: "75", :class => "grayscale")
          %p.bold=element["date"]["weekday"]
          %p #{element["high"]["fahrenheit"]}°F
          %p.gray.bold=element["conditions"].downcase
    #outer-currency
      %p.show-header Currency Converter for #{@weatherData[0]["date"]["tz_long"]}
      #currency-container
        %input{:max => "100000", :min => "1", :name => "quantity", :type => "number", :class => "currency_input", :placeholder => "Enter value in USD"}/
        %p.inline.currency_result #{@currencyData}
        %p.inline #{@localCurrency}
%section.module.parallax.parallax-2.italy-2
  .container
    %h1 Rise
%section.module.content{style: "min-height: 1000px"}
  .container
    %h1.show-header Italy's Itinerary
    .slider.left
      %h1 Choose the length of your vacation:
      %input#days{"data-slider-id" => "daySlider", "data-slider-max" => "10", "data-slider-min" => "1", "data-slider-step" => "1", "data-slider-value" => "1", "data-slider-tooltip" => "hide", "data-slider-handle" => "round", type: "text"}/
      %p#current-days Current Days: 1
    .itinerary.right
      %h1 Price Breakdown
      .event{"data-min-value" => "3", "data-cost" => "4000"}
        %p.entry-header Rome ($4000)
        .entry-content
          %p Hotel Delle Nazioni ($2000)
          %p Standard Room
      .event{"data-min-value" => "6", "data-cost" => "1500"}
        %p.entry-header Florence
        .entry-content
          %p Hotel Pierre
          %p Superior Double Room
          %p EUR 25 voucher (per room, per stay) that may be used toward extras purchased at the hotel including restaurant, bar and minibar charges, plus complimentary internet at Hotel Delle Nazioni (per room, per night)**
      .event{"data-min-value" => "9", "data-cost" => "2000"}
        %p.entry-header Venice
        .entry-content
          %p Papadopoli Venezia
          %p One museum ticket (per person, per stay), 15% restaurant discount and VIP treatment (per room, per stay) at Papadopoli Venezia**
      %span Total Price: $
      %span#total-price 0
%section.module.parallax.parallax-3.italy-3
  .container
    %h1 Calm
%section.module.content
  .container
    %h2 Terms and Conditions
    %ul
      %li Prices are in U.S Dollars, are true and accurate at time of printing, are valid
      for travel as specified, are valid for new bookings only. All offersand inclusions are subject to availability and may change or be terminated without notice. Seasonal
      surcharge, availability, blackout dates and restrictions may apply. Any unused portion(s) of inclusions are nontransferable, nonrefundable, and not redeemable for cash. Cancellation and charge fees may apply.
      %li Rental car includes unlimited mileage, one additional driver, all taxes and service
      fees. It does not include gasoline, optional insurance charges, underage driver charges, upgrades, overtime, drop charges or infant-child seats.
    %h2 Booking Arrangements
    = link_to "google", "http://www.google.com"

:javascript
  $('.currency_input').bind('input', function() {
    var userinput = $(this).val();
    var conversion = #{@currencyData};
    $('.currency_result').text(conversion * userinput);
  });
