%h1
	%p Top
	%p Tier
	%p Traveling
	\#{image_tag("logo.png", :class=>"header-logo")}
%nav.vacspots
	%span
		-if session[:favorites]
			= link_to "Bookmarks (#{session[:favorites].length})", '#', id: 'bookmark_num'
		-else
			= link_to "Bookmarks", '#', id: 'bookmark_num'
	%span
		-if(current_page?(hawaii_path))
			= link_to "Hawaii", hawaii_path, class: 'active_tab'
		-else
			= link_to "Hawaii", hawaii_path
	%span
		-if(current_page?(italy_path))
			= link_to "Italy", italy_path, class: 'active_tab'
		-else
			= link_to "Italy", italy_path
	%span
		-if(current_page?(china_path))
			= link_to "China", china_path, class: 'active_tab'
		-else
			= link_to "China", china_path
