%h1
	%p Top
	%p Tier
	%p Traveling
	\#{image_tag("logo.png", :class=>"header-logo")}
%nav.vacspots
	%span
		= link_to "Favorites (#{(session[:favorites] ||= {}).length})", favorites_path, id: 'bookmark_num'
	%span
		-if(@dest == "Hawaii")
			= link_to "Hawaii", hawaii_path, class: 'active_tab'
		-else
			= link_to "Hawaii", hawaii_path
	%span
		-if(@dest == "Italy")
			= link_to "Italy", italy_path, class: 'active_tab'
		-else
			= link_to "Italy", italy_path
	%span
		-if(@dest == "China")
			= link_to "China", china_path, class: 'active_tab'
		-else
			= link_to "China", china_path
