- @title = "Contact"
- @meta = "Contact, Sameet Sapra, Andrew Merkley, John Stavropoulos, TopTierTraveling, toptiertraveling@gmail.com"
%h2
	Contact us at
	=link_to "toptiertraveling@gmail.com", "mailto:toptiertraveling@gmail.com?Subject=Hello%20TopTierTraveling"
- if flash[:error]
	%p.alert.error
		%i.fa.fa-close
		Please fill in all parameters.
= form_for @message, url: send_path, method: "post" do |form|
	.field
		= form.label :name, "Name"
		= form.text_field :name, placeholder: "&#xf007; John Smith".html_safe, class: 'name'
	.field
		= form.label :name, "Email"
		= form.text_field :email, placeholder: "&#xf003; example@123.com".html_safe, class: 'email'
	.field
		= form.label :body, "Message"
		= form.text_area :body, placeholder: "", class: 'body'
	= form.submit "&#xf1d9; Send".html_safe, id: "submit", class: 'fa fa-send-o'
