- @title = "Contact"
- @meta = "Contact, Sameet Sapra, Andrew Merkley, John Stavropoulos, TopTierTraveling, toptiertraveling@gmail.com"
= form_for @message, :url => send_path, :method => "post" do |form|
  %p To: toptiertraveling@gmail.com
  %fieldset.fields
    .field.email
      %i.fa.fa-envelope-o.fa-lg
      %p= form.text_field :email, :placeholder => "example@123.com"
    .field.name
      %i.fa.fa-user.fa-lg
      %p= form.text_field :name, :placeholder => "John Smith"
    .field.body
      = form.text_area :body, :placeholder => ""
  %fieldset.actions
    = form.submit 'Submit your message', :id => "submit"
