- @title = "Home"
- @meta = "TopTierTraveling, Italy, Hawaii, Florence, Rome, Venice, Maui, Oahu, Big Island"
.welcome-show
	.container1
		.row
			.span12
				.welcome.owl-carousel
					.item
						%h1 1
					.item
						%h1 2
					.item
						%h1 3
					.item
						%h1 4
	.description-welcome
		%h1 Our Mission
		%p At TopTierTraveling, we deliver global corporate travel solutions that meet the complex demands of companies and their travelers. Building on TopTierTraveling's legacy of innovation in online travel and its multinational footprint, we offer a full service and fully integrated approach to travel and expense management. By combining leading technology with expert support, we've helped hundreds of consumers achieve the savings they need.
.arrow
	%i.fa.fa-angle-down.fa-lg
.all-packages
	.vacation-show
		.container1
			.row
				.span12
					.vacation.owl-carousel
						.item
							= image_tag("oahu1.jpg")
						.item
							= image_tag("oahu2.jpg")
						.item
							= image_tag("oahu3.jpg")
						.item
							= image_tag("maui1.jpg")
						.item
							= image_tag("maui2.jpg")
						.item
							= image_tag("maui3.jpg")
						.item
							= image_tag("big1.jpg")
						.item
							= image_tag("big2.jpg")
						.item
							= image_tag("big3.jpg")
		.description
			%h1 Hawaii
			%p Blah Blah Blah
	.vacation-show
		.container1
			.row
				.span12
					.vacation.owl-carousel
						.item
							= image_tag("rome1.jpg")
						.item
							= image_tag("rome2.jpg")
						.item
							= image_tag("rome3.jpg")
						.item
							= image_tag("florence1.jpg")
						.item
							= image_tag("florence2.jpg")
						.item
							= image_tag("florence3.jpg")
						.item
							= image_tag("venice1.jpg")
						.item
							= image_tag("venice2.jpg")
						.item
							= image_tag("venice3.jpg")
		.description
			%h1 Italy
			%p Blah Blah Blah
	.vacation-show
		.container1
			.row
				.span12
					.vacation.owl-carousel
						.item
							%h1 1
						.item
							%h1 2
						.item
							%h1 3
						.item
							%h1 4
						.item
							%h1 5
						.item
							%h1 6
						.item
							%h1 7
						.item
							%h1 8
						.item
							%h1 9
						.item
							%h1 10
						.item
							%h1 11
						.item
							%h1 12
						.item
							%h1 13
						.item
							%h1 14
						.item
							%h1 15
						.item
							%h1 16
		.description
			%h1 Hawaii
			%p Blah Blah Blah
	.vacation-show
		.container1
			.row
				.span12
					= image_tag("random.jpg", :alt => "Random Vacation")
		.description
			%h1 Let Us Choose
			%p Can't decide where to go? Let us choose for you!
