!!!
%html
	%head
		/[if lt IE 9]
			%script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
		/[if lt IE 8]
			%script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
		/[if lt IE 7]
			%script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
		%meta{content: "yes", name: "apple-mobile-web-app-capable"}/
		%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
		%meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}/
		%title="TopTierTraveling | " + @title
		%meta{content: "#{@meta}", name: "description"}/
		%link{rel: "icon", type: "image/x-icon", href: "#{asset_path("favicon.ico")}"}/
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body{:itemscope => "", :itemtype => "https://www.toptiertraveling.com"}
		-if !request.path.starts_with?("/travels")
			%header.header
				= render partial: "/pages/headercontent"
			.content
				= yield
		-else
			%header.header.fixed
				= render partial: "/pages/headercontent"
			.content#content
				= yield
		- @length = ActiveSupport::JSON.decode(cookies[:favorites] || "{}").length
		.footer
			.info-links
				.info-link
					%a{href: "/"}
						%i.fa.fa-home
						%span Home
				.info-link
					%a{href: "/about"}
						%i.fa.fa-info
						%span About
				.info-link
					%a{href: "/contact"}
						%i.fa.fa-comments-o
						%span Contact
			#fb-root
		%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
		= javascript_include_tag "application", "data-turbolinks-track" => true, async: true
		= javascript_include_tag "#{params[:controller]}_#{params[:action]}", async: true if Rails.application.assets.find_asset "#{params[:controller]}_#{params[:action]}"
		= javascript_include_tag params[:controller], async: true
		%script{:async => "", :defer => "defer", :src => "https://apis.google.com/js/platform.js"}
		:javascript
			window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
			$('#bookmark_num').html("Favorites (#{@length})");
